.star {
  width: 100%;
  aspect-ratio: 1;
  will-change: transform;
  clip-path: inset(0.5px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.star::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, white 0%, transparent 80%);
  filter: blur(4px);
  opacity: 0.15;
}