.star__circles--upright,
.star__circles--inverted {
  width: 100%;
  height: 50%;
}
.star__circles--upright {
  background: radial-gradient(
      circle at 0% 0%,
      black 44.3%,
      rgba(234, 232, 232, 0.9) 44.3%,
      rgba(234, 232, 232, 0.9) 44.7%,
      transparent 44.7%
    ),
    radial-gradient(
      circle at 100% 0%,
      black 44.3%,
      rgba(234, 232, 232, 0.9) 44.3%,
      rgba(234, 232, 232, 0.9) 44.7%,
      transparent 44.7%
    );
}
.star__circles--inverted {
  background: radial-gradient(
      circle at 0% 100%,
      black 44.3%,
      rgba(234, 232, 232, 0.9) 44.3%,
      rgba(234, 232, 232, 0.9) 44.7%,
      transparent 44.7%
    ),
    radial-gradient(
      circle at 100% 100%,
      black 44.3%,
      rgba(234, 232, 232, 0.9) 44.3%,
      rgba(234, 232, 232, 0.9) 44.7%,
      transparent 44.7%
    );
}