body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.animation__star {
  width: 220px;
  aspect-ratio: 1;
  position: relative;
  margin: auto;
}
.animation__star--rectangle-wrapper {
  width: 100%;
  height: 50%;
  border-bottom: 1.4px solid rgba(234, 232, 232, 0.5);
  position: relative;
}
.animation__star-reactangle {
  position: relative;
  z-index: 1;
  height: 100%;
}
.animation__star--reveal {
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  background: linear-gradient(to bottom, black 0%, black 70%, transparent 100%);
}
.animation__star--text {
  color: rgb(212, 209, 209);
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.5em;
  font-size: 4rem;
  padding: 3rem 0 0 0.5em;
}