body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.animation__star {
  width: 220px;
  aspect-ratio: 1;
  position: relative;
}
.animation__star--rectangle {
  width: 100%;
  height: 50%;
  border-bottom: 1.4px solid rgba(234, 232, 232, 0.5);
}